.headerContainer{
    width: 100%;
    background-color: #212529;
     color: #a39d9d;
     padding: 7px;
    
    .header{
        width: 70%;
        // background-color: red;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .headerLeft{

        }

        .headerRight{
            display: flex;
            // background-color: black;
            width: 25%;
            text-align: center;
            justify-content: space-between;
           p{
            border-right: 1px solid #fff;
            padding-right: 10px;
           }
        }
      
    }
}


.navbarContainer{
   padding: 28px;
    width: 100%;
    
    .navbar{
        background-color: transparent;

        max-width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .navbarLeft{
            max-width: 80%;
            display: flex;
            justify-content: space-between;
           
            .imgnavbar{
                max-width: 40%;
                img{
                    width: 100%;
                }
            }

            .pagesNavbar{
                
                width: 100%;
                gap: 0px;
                color: white;
                .pages{
                    width: 100% ;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .navbarRight{
            display: flex;
            justify-content: space-between;
        }
    }
}